#version=CentOS7

# Action
install

# Use CDROM installation media
cdrom

# Run the Setup Agent on first boot
firstboot --enable

# Accept Eula
eula --agreed

# Use text mode install
#text
# Use graphical install (default)
#graphical

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Root password
rootpw --iscrypted $6$BIXWvziM2YRNnZwT$Nhi8c1Y8UoN0vAOqU.psHbCxx8SeclXHQPCVL5PreFS2QaDuFrmnLiQe2Zn3F50fXG0duYByrRu0Us5RmH6vB/
#user --groups=wheel --homedir=/home/vagrant --name=marc --password=$1$XlGhvW09$UbKYTjURWYSAn6nFXmSJw0 --iscrypted --gecos="vagrant"

# System language
lang en_US

# System timezone
timezone Etc/UTC --isUtc --nontp

# Clear the Master Boot Record
zerombr

# System bootloader configuration
bootloader --location=mbr --boot-drive=sda

# Partition clearing information
clearpart --all --initlabel --drives=sda
ignoredisk --only-use=sda

# Disk partitioning information (provide at least 7GB total HDD space)
partition /boot --fstype="ext4" --ondisk=sda --size=512
partition swap --fstype="swap" --ondisk=sda --size=1024
partition pv.01 --fstype="lvmpv" --ondisk=sda --grow
volgroup system --pesize=4096 pv.01
logvol / --vgname=system --name="root" --fstype="ext4" --size=5120 --grow

# Network information
network  --bootproto=dhcp --device=enp0s3 --onboot=on --ipv6=auto --activate
network  --bootproto=dhcp --device=enp0s8 --onboot=on --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Firewall configuration
firewall --disabled

# System authorization information
auth  --useshadow  --passalgo=sha512

# System services
services --enabled=sshd,chronyd

# SELinux configuration
#selinux --enforcing
selinux --permissive

# Do not configure the X Window System
skipx

# Reboot/shutdown after installation (omit to keep the installation running at the completion screen)
#reboot
#halt
#shutdown
poweroff

#repo --name="Base" --baseurl="http://mirror.centos.org/altarch/7/os/i386/"
#repo --name="Extras" --baseurl="http://mirror.centos.org/altarch/7/extras/i386/"
#repo --name="Updates" --baseurl="http://mirror.centos.org/altarch/7/updates/i386/"
#url --url http://mirror.centos.org/altarch/7/os/i386/Packages/
#url --url http://mirror.centos.org/altarch/7/os/i386/Packages/git-1.8.3.1-13.el7.i686.rpm

%packages
@core --nodefaults
chrony
lvm2
-aic94xx-firmware
-alsa-firmware
-bfa-firmware
-dracut-config-rescue
-centos-logos
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl105-firmware
-iwl135-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3160-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-iwl7260-firmware
-iwl7265-firmware
-kernel-tools
-libertas-sd8686-firmware
-libertas-sd8787-firmware
-libertas-usb8388-firmware
-libsysfs
-linux-firmware
-microcode_ctl
-NetworkManager
-NetworkManager-team
-NetworkManager-tui
-postfix
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-rdma
-dracut-config-generic
-dracut-fips
-dracut-fips-aesni
-dracut-network
-openssh-keycat
-selinux-policy-mls
-tboot
-rubygem-abrt
-abrt-addon-ccpp
-abrt-addon-python
-abrt-cli
-abrt-console-notification
-bash-completion
-blktrace
-bridge-utils
-bzip2
#-chrony
-cryptsetup
-dmraid
-dosfstools
-ethtool
-fprintd-pam
-gnupg2
-hunspell
-hunspell-en
-kpatch
-ledmon
-libaio
-libreport-plugin-mailx
-libstoragemgmt
#-lvm2
-man-pages
-man-pages-overrides
-mdadm
-mlocate
-mtr
-nano
-ntpdate
-pinfo
-plymouth
-pm-utils
-rdate
-rfkill
-rng-tools
-rsync
-scl-utils
-setuptool
-smartmontools
-sos
-sssd-client
-strace
-sysstat
-systemtap-runtime
-tcpdump
-tcsh
-teamd
-time
-unzip
-usbutils
-vim-enhanced
-virt-what
-wget
-which
-words
-xfsdump
-xz
-yum-langpacks
-yum-plugin-security
-yum-utils
-zip
-acpid
-audispd-plugins
-augeas
-brltty
-ceph-common
-cryptsetup-reencrypt
-device-mapper-persistent-data
-dos2unix
-dumpet
-genisoimage
-gpm
-i2c-tools
-kabi-yum-plugins
-libatomic
-libcgroup
-libcgroup-tools
-libitm
-libstoragemgmt-netapp-plugin
-libstoragemgmt-nstor-plugin
-libstoragemgmt-smis-plugin
-libstoragemgmt-targetd-plugin
-libstoragemgmt-udev
-linuxptp
-logwatch
-mkbootdisk
-mtools
-ncurses-term
-ntp
-oddjob
-pax
-prelink
-PyPAM
-python-volume_key
-redhat-lsb-core
-redhat-upgrade-dracut
-redhat-upgrade-tool
-rsyslog-gnutls
-rsyslog-gssapi
-rsyslog-relp
-sgpio
-sox
-squashfs-tools
-star
-tmpwatch
-udftools
-uuidd
-volume_key
-wodim
-x86info
-yum-plugin-aliases
-yum-plugin-changelog
-yum-plugin-tmprepo
-yum-plugin-verify
-yum-plugin-versionlock
-zsh

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'
%end

%post --log=/root/ks-post.log
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end